<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Festen</h1>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <h2><%= link_to 'cal-party.ics' do -%>
        <%= render partial: 'calendar_svg' %>
      <%- end %></h2>
      <p>
        <strong>16:30 &ndash; Sent</strong><br>
        <%= t :wedding_date %><br>
        &nbsp;<br>
      </p>
      <p><%= link_to 'Add to Calendar', 'cal-party.ics' %></p>
    </div>
    <div class="col-md-6 text-center">
      <h2><%= link_to @google_maps_url_party do -%>
        <%= render partial: 'map_marker_svg' %>
      <%- end %></h2>
      <p>
        <%= render partial: 'party_address' %>
      </p>
      <p>
        <%= link_to 'Google Maps', @google_maps_url_party %>
      </p>
    </div>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="offset-md-3 col-md-6">
      <h2> Det roliga! </h2>
      <p> När det viktigaste är avklarat så börjar det roligaste, festen! Festen blir på storegård, en gård där Cajsa
      tillbringat många dagar som hjälpryttare till gårdsägarna Gunnar och Ebba som också är med på festen!
      <h2>Transport</h2>
      <p>Buss till kyrkan och vigseln går från <%= link_to "Västra Stationstorget", "https://maps.app.goo.gl/NwNtW7jMLFog6Ser7" %> Lund kl 14:15. </p>
      <p>Efter vigseln går det en buss till Storegård där festen kommer att vara. Det går också bra att ta egen bil till bröllopsfesten, men vi rekommenderar varmt
      att åka bussen! </p>
      <p>För att ta dig hem från Storegård behöver du ordna med taxi själv.</p>
      <h2>Tal</h2>
      <p> För dig som vill hålla ett tal eller göra någonting annat roligt ber vi dig att ta kontakt med våra
      toastmasters, Emil Ahlqvist eller Elin Plunde.</p>
      <p>Skriv till <%= mail_to "emil.ahlqvist@outlook.com", "Emil Ahlqvist", subject: "Cajsa och David 2025"  %> med ämnesrad "Cajsa och David 2025" för att anmäla ett tal.</p>
      <div class="image-container">
        <%= image_tag 'emil.jpeg', alt: 'Emil Image', class: 'small-image' %>
        <%= image_tag 'elin2.jpeg', alt: 'Elin Image', class: 'small-image'%>
    </div>
    </div>
  </div>
</section>
