<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>BRÖLLOPSFESTEN</h1>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <h2><%= link_to 'wedding.ics' do -%>
        <%= render partial: 'calendar_svg' %>
      <%- end %></h2>
      <p>
        <strong>16:30 &ndash; Sent</strong><br>
        <%= t :wedding_date %><br>
        &nbsp;<br>
      </p>
      <p><%= link_to 'Add to Calendar', 'wedding.ics' %></p>
    </div>
    <div class="col-md-6 text-center">
      <h2><%= link_to @google_maps_url_party do -%>
        <%= render partial: 'map_marker_svg' %>
      <%- end %></h2>
      <p>
        <%= render partial: 'party_address' %>
      </p>
      <p>
        <%= link_to 'Google Maps', @google_maps_url_party %>
      </p>
    </div>
  </div>
</section>
