<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>VIGSEL</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <h2><%= link_to 'wedding.ics' do -%>
          <%= render partial: 'calendar_svg' %>
        <%- end %></h2>
        <p>
          <strong>15:30 &ndash; 16:00</strong><br>
          <%= t :wedding_date %><br>
          &nbsp;<br>
        </p>
        <p><%= link_to 'Add to Calendar', 'wedding.ics' %></p>
      </div>
      <div class="col-md-6 text-center">
        <h2><%= link_to @google_maps_url_vigsel do -%>
          <%= render partial: 'map_marker_svg' %>
        <%- end %></h2>
        <p>
          <%= render partial: 'wedding_address' %>
        </p>
        <p>
          <%= link_to 'Google Maps', @google_maps_url_vigsel %>
        </p>
      </div>
    </div>
  </div>
</section>
